.splash {
  height: 240px;
  overflow: hidden;
}
.splash img {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: blur(0.2px) brightness(1.1) hue-rotate(5deg) opacity(0.9) saturate(1.3) sepia(0.4);
  box-shadow: 0 0 60px rgba(0,0,0,0.9) inset;
}
.index-splash {
  height: 120px;
  overflow: hidden;
}
.index-splash img {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%,-50%);
  // transform: rotate(10deg);
}
