---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}</p>
    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>

  <div class="related">
    <h3>Related Posts</h3>
    <div style="display: flex; justify-content: center;">
    {% if post %}
      {% assign similar_pages = post.similar_pages %}
    {% else %}
      {% assign similar_pages = page.similar_pages %}
    {% endif %}
    {% for similar_page in similar_pages %}
      {% assign similar = site.posts | where: 'path', similar_page | first %}
        <div style="display: block; width: 220px; height: 260px;">
          <a href="{{site.baseurl}}{{ similar.url }}">
            <img style="width: 220px; height: 220px;" src="{{ similar.splash | relative_url }}">
            <p style="font-size: 0.8em;">{{ similar.title }}</p>
            <p style="font-size: 0.7em;">{{ similar.excerpt | truncate: 20 }}</p>
          </a>
        </div>
    {% endfor %}
    </div>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
</article>
